.page-style {
  display: flex;
  justify-content: center;
}
.component-style {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.select-option {
  display: flex;
  margin: 0px;
  border-radius: 10px;
  width: 1000px;
}
.button {
  margin-bottom: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
