.page-setup{
  display: flex;
  flex:1;
}
.table-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.pink-btn{
  max-width: 50%;
  align-self: center;
}
.diagnose-options {
  /* image choti nahi ho rahi */
  display: flex;

  width: 50%;
  height: auto;
}
.diagnose-request{
  padding-left: 250px;
  height: 700px;
  width: auto;
}
