.status-cured {
  justify-content: center;
  border-radius: 22px;
  border: 1px solid #41bc63;
  background-color: #ebf9f1;
  flex-grow: 1;
  color: #41bc63;
  padding: 8px 33px;
  font: 12px Playfair Display, sans-serif;
}
.status-severe {
  justify-content: center;
  border-radius: 22px;
  border: 1px solid #bc9241;
  background-color: #fbf9f4;
  flex-grow: 1;
  color: #bc9241;
  padding: 8px 28px;
  font: 12px Playfair Display, sans-serif;
}
.status-on-going {
  justify-content: center;
  border-radius: 22px;
  border: 1px solid #bc4141;
  background-color: #fbf4f4;
  flex-grow: 1;
  color: #bc4141;
  padding: 8px 28px;
  font: 12px Playfair Display, sans-serif;
}
